@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./index.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@layer base {
  @font-face {
    font-family: 'Kanit Bold';
    font-weight: 500;
    src: url('../assets/font/Kanit-Bold.ttf') format('ttf');
  }
  
  @font-face {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    src: url('../assets/font/Kanit-Regular.ttf') format('ttf');
  }
  
  @font-face {
    font-family: 'Kanit SemiBold';
    src: url('../assets/font/Kanit-SemiBold.ttf') format('ttf');
  }
  
  @font-face {
    font-family: 'Kanit Medium';
    src: url('../assets/font/Kanit-Medium.ttf') format('ttf');
  }
  


  
  
}




::-webkit-scrollbar {
  width: 12px; /* Scroll çubuğunun genişliği */
}

::-webkit-scrollbar-track {
  background: #211b44; /* Scroll çubuğu arka plan rengi */
}

::-webkit-scrollbar-thumb {
  background-color: #6b7280; /* Scroll çubuğu tutamaç rengi */
  border-radius: 6px; /* Scroll çubuğu tutamaç kenar yarıçapı */
}

.post-card-content {
  max-width:36rem;
   /* İçeriğin maksimum yüksekliği */
  overflow-y: auto; /* Dikey kaydırma çubuğunu içeriğin sığmadığı durumlarda göster */
}


.postcard-chat:hover {
  color: #1d9bf0;
}

.postcard-heart:hover{
  color: #f91880;
}


.postcard-share:hover{
  color: #00ba7c;
}

.middle-color{
  color: #b3bbc6;

}


.middle-color:hover{
  color: #6366f1;

}


.chat-color{
  color:#b3bbc6

}

.chat-color:hover{
  color:#1d9bf0

}

.share-color{

  color:#b3bbc6

}

.share-color:hover{
  
  color:#00ba7c
}


.like-color{

  color:#b3bbc6

}

.like-color:hover{
  
  color:#f91880
}


.saved-color{

  color:#b3bbc6

}

.saved-color:hover{
  
  color:#1d9bf0
}

.photo-color{
  color:#b3bbc6
}

.photo-color:hover{
  color:#ffffff
}


